<a href="/"><h3>Back to NoteStash</h3></a>

<div class = "l_login">
	<h3> Sign in with NotesStash </h3>
	<form id="l_login" name="l_login" method="POST" autocomplete="off" action="/login">
		<input type = "text"
			autofocus = true
			autocapitalize non standard = none
			autocorrect non standard = none
			class = "username"
			name = "username"
			spellcheck = "false"
			rows = 1
			placeholder = "username"></input>
		<input type = "password"
			name = "password"
			placeholder = "password"></input>
		<button type="submit"
		formmethod="POST">Log in</button>
	</form>
	<div class = "reg">
		<a href="register">Need to sign up?</a>
	</div>
</div>
