<% if (message != null) { %>
	<%- "<div class = \"animated-banner banner-error slideOutUp\">" -%> <%- message -%> <%- "</div>" -%>
<% } %>

<a href="index"><h3>Back to NoteStash</h3></a>

<div class = "l_login">
	<h3> Sign up with NotesStash </h3>
	<form id="l_login" name="l_login" method="POST" autocomplete="off" action "/register">
		<input type = "text"
			autofocus = true
			autocapitalize non standard = none
			autocorrect non standard = none
			autocomplete = username
			name = "username"
			spellcheck = "false"
			rows = 1
			placeholder = "username"></input>
		<input type = "password"
			name = "password"
			placeholder = "password"></input>
		<input type = "password"
			name = "password2"
			placeholder = "retype password"></input>
		<input type = "email"
			name = "email"
			placeholder="email"></input>
		<button type="submit"
			formmethod="POST"
			form="l_login">Sign Up</button>
	</form>
	<div class = "register">
		<a href="login">Already have an account?</a>
	</div>
</div>