html {
    height: 100%;
    width: 100%;
}

body {
	background-color: black;
    font-family: "Calibri", "Ubuntu", "Arial", sans-serif;
    color: #5F9EA0;
    height: 100%;
    margin-left: 5%;
}


h1, h2, h3 {
	font-family: "Segoe UI", "Ubuntu", sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    color: #5F9EA0;
}

h3 {
    font-size: 1.5em;
}

nav {
    color: aqua;
    background-color: black;
    margin-bottom: 0.5em;
}

nav ul {
    color: grey;
}

article {
    padding: 0.75em;
    padding-top: 0.25em;
    /*color: #1ce;*/
    margin-bottom: 1.5em;
    background-color: black;
    
}

hr.footer {
    border-style: solid;
    border-top-color: #FFFFFF;
}

a {
    font-size: 1.5em;
    color: #ff7f50;
    font-family: sans-serif;
    text-decoration: none;
}

aside {
	display: flex;
	color: blue;
    background-color: grey;
}

button {
    height: 50px;
    width: 120px;
    background-color: #3C9FB5;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
}

.banner-error {
    font-size: 1.25em;
    margin-left: 0%;
    background-color: #ff0000;
    color: white;
}

.l_login {
    position: relative;
    margin-left:20%;
    padding-left:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    height:35%;
    width:20%;
}

.log_in input:required {
    border: solid 0.25px #3C9FB5;
}

.l_login input:required:invalid {
    border: 0.25px solid #ff0000;
}

.l_login input {
    background-color: #1a1a1a;
    border: solid 0.25px #3C9FB5;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0.25em;
    margin-right: 5em;
    padding: 1em, 1em, 1em, 1em;
}

.l_login h3 {
    margin-top: 0.5em;
}

.l_login button {
    height: 50px;
    width: 120px;
    position: relative;
    left:60%;
}

.register a {
    margin-bottom: 0.25em;
    display: flex;
    flex-direction: column;
    color: #1ce;
    font-size:1em;
}

.uploadbox {
    display: flex;
    flex-wrap: wrap;
    width: 75em;
}

.uploadbox h3 {
    margin:inherit;   
}

.content {
    display: inherit;
    flex-wrap: inherit;
    width: 75em;
}

.content textarea {
    flex-wrap: inherit;
    background-color: #1a1a1a;
    border-color: #3C9FB5;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom:0.5em;
    width: 75em;
}

.content textarea:focus{
    box-shadow:0 0 0.5em #3C9FB5;
}

.content textarea.content {
    font-family: "monaco", "consolas", "arial", monospace;
    color: white;
}

.uploadbtn {
    display: flex;
    padding-bottom: 0.5em;
    width:75em;
    justify-content: flex-end;
}

.uploadbtn button {
    height: 50px;
    width: 120px;
    background-color: #3C9FB5;
    color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
}

.priv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 75em;
}

.priv button {
    height: 25px;
    width: 75px;
    margin-right: 1em;
}

.datetimeUTC {
    display: none;
}